/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:700');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/cards.css");
/* Utilities */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

footer{
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  height: 70px;
}

.socials-image
{
  justify-content: space-around;
  margin: 15px 25px;
}
