.main-page-banner{
  display: flex;
  background-size: cover;
  height: 568px;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.banner-contents{
border: 5px solid rgba(98, 0, 255, 0.63);
    /* border-radius: 15px; */
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align:center;
}

#PageTitle{
  font-size: xxx-large;
    margin-bottom: 0;
}

#BannerParagraph{
  font-size: x-large;
  margin: 0 0 50px 0;
}

.title-button{
background-color: rgb(98, 0, 255, 0.63);
color:black;
padding: 10px;
border-radius: 30px;
margin-top: 10px;
}
