.card-container{
  display: flex;
  justify-content: space-around;
  padding: 0px 80px;
}

.card {
  text-align: center;
    /* border: .5px solid lightgray; */
    width: 250px;
    height: 260px;
    padding: 20px 0 0px 0;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 9px 1px #d8d4d4;
}

.card-image{
  width: 150px;
}
